
/*
  Import the common theme.
*/
@import "./_shared/scss/theme.scss";

/*
  If you need some CSS for any reason you can put it here.
*/

#contentID{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
#contentID > div{
	border: 1px solid black;
	width: 300px;
	border-radius: 10px;
	margin: 30px;
}
div > img{
	width: 300px;
	max-height: 700px;
	height: auto;
	max-width: 100%;
	//background-size: cover;
	object-fit: cover;
	margin-bottom: 20px;
}
p{
	font-size: 20px;
	text-align: center;
}
