
/*
  Import the common theme.
*/
@import "./_shared/scss/theme.scss";

/*
  If you need some CSS for any reason you can put it here.
*/

body{
	font-size : 50px;
}

p{
	text-align: center;
}

.content{
	display: flex;
	justify-content: space-around;
}

